.button-container{
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.button-container button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.button-container button:first-child {
    padding-right: 4em;
}

.button-container button:hover {
    background-color: #ddd;
    color: blue;
    border-bottom: .5px solid blue;
}

.button-container button.active {
    background-color: #ccc;
  }
  

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
