ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}

ul li img {
    padding-right: 2em;
    max-width: 64px;
}

ul li {
    padding-top: 1em;
}

ul li:nth-child(1) {
    padding-top: 0;
}