#root {
    display: flex;
}

.stage-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 80%;
    background-color: slategrey;
}

.stage {
    text-align: center;
}

.stage > img {
    max-width: 128px;
}